@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @variants responsive {
        .hide-scrollbar::-webkit-scrollbar {
            width: 0;
            height: 0;
            background-color: transparent;
        }

        .hide-scrollbar::-webkit-scrollbar-thumb {
            background-color: transparent;
        }

        .hide-scrollbar::-webkit-scrollbar-track {
            background-color: transparent;
        }

        .show-outline:hover {
            outline: 2px solid #6868fd;
        }

        .show-outline:focus {
            outline: 2px solid #6868fd;
        }

        .show-error-outline {
            outline: 2px solid #f66363;
        }
    }
}